/**
 * Column Icons
 */

@font-face {
	font-family: 'column-icons';
	src:url('font/column-icons.eot?-l9qhcm');
	src:url('font/column-icons.eot?#iefix-l9qhcm') format('embedded-opentype'),
		url('font/column-icons.ttf?-l9qhcm') format('truetype'),
		url('font/column-icons.woff?-l9qhcm') format('woff'),
		url('font/column-icons.svg?-l9qhcm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.select2-container--ewc-select .select2-results i[class^="ewc-icon-"]:before, 
.select2-container--ewc-select .select2-results i[class*=" ewc-icon-"]:before,
.select2-container--ewc-select .select2-selection__rendered i[class^="ewc-icon-"]:before, 
.select2-container--ewc-select .select2-selection__rendered i[class*=" ewc-icon-"]:before {
	font-family: 'column-icons';
	font-style: normal;
	speak: none;
	font-weight: normal;
	position: relative;
	margin-right: 10px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.select2-container--ewc-select .select2-selection__rendered i[class^="ewc-icon-"]:before, 
.select2-container--ewc-select .select2-selection__rendered i[class*=" ewc-icon-"]:before {
	color: #2f3132;
}

.ewc-icon-none:before {
	content: "\e900";
}

.ewc-icon-full-width:before {
	content: "\e60c";
}

.ewc-icon-one-half:before {
	content: "\e601";
}

.ewc-icon-one-third:before {
	content: "\e602";
}

.ewc-icon-two-thirds:before {
	content: "\e603";
}

.ewc-icon-one-fourth:before {
	content: "\e604";
}

.ewc-icon-two-fourths:before {
	content: "\e605";
}

.ewc-icon-three-fourths:before {
	content: "\e606";
}

.ewc-icon-one-sixth:before {
	content: "\e607";
}

.ewc-icon-two-sixths:before {
	content: "\e608";
}

.ewc-icon-three-sixths:before {
	content: "\e609";
}

.ewc-icon-four-sixths:before {
	content: "\e60a";
}

.ewc-icon-five-sixths:before {
	content: "\e60b";
}

/**
 * Select2
 */

.select2-container--ewc-select.select2-container {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
}

.select2-container--ewc-select.select2-container .select2-selection--single {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 28px;
	user-select: none;
	-webkit-user-select: none;
}

.select2-container--ewc-select.select2-container .select2-selection--single .select2-selection__rendered {
	display: block;
	padding-left: 6px;
	padding-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
    border-radius: 0;
    background-clip: padding-box;
    background-image: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.select2-container--ewc-select.select2-container .select2-selection--single .select2-selection__clear {
	position: relative;
}

.select2-container--ewc-select.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
	padding-right: 8px;
	padding-left: 20px;
}

.select2-container--ewc-select.select2-container .select2-selection--multiple {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	min-height: 32px;
	user-select: none;
	-webkit-user-select: none;
}

.select2-container--ewc-select.select2-container .select2-selection--multiple .select2-selection__rendered {
	display: inline-block;
	overflow: hidden;
	padding-left: 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.select2-container--ewc-select.select2-container .select2-search--inline {
	float: left;
}

.select2-container--ewc-select.select2-container .select2-search--inline .select2-search__field {
	box-sizing: border-box;
	border: none;
	font-size: 100%;
	margin-top: 5px;
	padding: 0;
}

.select2-container--ewc-select.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.select2-container--ewc-select .select2-dropdown {
	background-color: #fff;
	border: 1px solid #5b9dd9;
	-webkit-box-shadow: 0 0 2px rgba(30, 140, 190, .8);
	box-shadow: 0 0 2px rgba(30, 140, 190, .8);
	border-radius: 0;
	box-sizing: border-box;
	display: block;
	position: absolute;
	left: -100000px;
	width: 100%;
	z-index: 1051;
}

.wp-customizer .select2-container--ewc-select .select2-dropdown {
	z-index: 900000;
}

.select2-container--ewc-select .select2-results {
	display: block;
	max-height: 300px;
	padding: 0;
	margin: 0;
}

.select2-container--ewc-select .select2-results__options {
	list-style: none;
	margin: 0;
	padding: 0;
}

.select2-container--ewc-select .select2-results__option {
	padding: 6px;
	margin-bottom: 0;
	user-select: none;
	-webkit-user-select: none;
	font-size: 14px;
	color: #2f3132;
}

.select2-container--ewc-select .select2-results__option[aria-selected] {
	cursor: pointer;
}

.select2-container--ewc-select.select2-container--open .select2-dropdown {
	left: 0;
}

.select2-container--ewc-select.select2-container--open .select2-dropdown--above {
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.select2-container--ewc-select.select2-container--open .select2-dropdown--below {
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.select2-container--ewc-select .select2-search--dropdown {
	display: block;
	padding: 4px;
}

.select2-container--ewc-select .select2-search--dropdown .select2-search__field {
	padding: 4px;
	width: 100%;
	box-sizing: border-box;
}

.select2-container--ewc-select .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.select2-container--ewc-select .select2-search--dropdown.select2-search--hide {
	display: none;
}

.select2-container--ewc-select .select2-close-mask {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 99;
	background-color: #fff;
	filter: alpha(opacity=0);
}

.select2-hidden-accessible {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}

.select2-container--ewc-select .select2-selection--single {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0;
}

.select2-container--ewc-select .select2-selection--single .select2-selection__rendered {
	color: #000;
	line-height: 26px;
}

.select2-container--ewc-select .select2-selection--single .select2-selection__clear {
	cursor: pointer;
	float: right;
	font-weight: 700;
}

.select2-container--ewc-select .select2-selection--single .select2-selection__placeholder {
	color: #999;
}

.select2-container--ewc-select .select2-selection--single .select2-selection__arrow {
	background-color: #f9f9f9;
	border-left: 1px solid #ddd;
	height: 26px;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 22px;
}

.select2-container--ewc-select .select2-selection--single .select2-selection__arrow b {
	border-color: #888 transparent transparent;
	border-style: solid;
	border-width: 5px 4px 0;
	height: 0;
	left: 50%;
	margin-left: -4px;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	width: 0;
}

.select2-container--ewc-select[dir="rtl"] .select2-selection--single .select2-selection__clear {
	float: left;
}

.select2-container--ewc-select[dir="rtl"] .select2-selection--single .select2-selection__arrow {
	left: 1px;
	right: auto;
}

.select2-container--ewc-select.select2-container--disabled .select2-selection--single {
	background-color: #eee;
	cursor: default;
}

.select2-container--ewc-select.select2-container--disabled .select2-selection--single .select2-selection__clear {
	display: none;
}

.select2-container--ewc-select.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #888;
	border-width: 0 4px 5px;
}

.select2-container--ewc-select .select2-selection--multiple {
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	cursor: text;
}

.select2-container--ewc-select .select2-selection--multiple .select2-selection__rendered {
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0 5px;
	width: 100%;
}

.select2-container--ewc-select .select2-selection--multiple .select2-selection__rendered li {
	list-style: none;
}

.select2-container--ewc-select .select2-selection--multiple .select2-selection__placeholder {
	color: #999;
	margin-top: 5px;
	float: left;
}

.select2-container--ewc-select .select2-selection--multiple .select2-selection__clear {
	cursor: pointer;
	float: right;
	font-weight: 700;
	margin-top: 5px;
	margin-right: 10px;
}

.select2-container--ewc-select .select2-selection--multiple .select2-selection__choice {
	background-color: #e4e4e4;
	border: 1px solid #aaa;
	border-radius: 4px;
	cursor: default;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	padding: 0 5px;
}

.select2-container--ewc-select .select2-selection--multiple .select2-selection__choice__remove {
	color: #999;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	margin-right: 2px;
}

.select2-container--ewc-select .select2-selection--multiple .select2-selection__choice__remove:hover {
	color: #333;
}

.select2-container--ewc-select[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--ewc-select[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
.select2-container--ewc-select[dir="rtl"] .select2-selection--multiple .select2-search--inline {
	float: right;
}

.select2-container--ewc-select[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
	margin-left: 5px;
	margin-right: auto;
}

.select2-container--ewc-select[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
	margin-left: 2px;
	margin-right: auto;
}

.select2-container--ewc-select.select2-container--focus .select2-selection--multiple {
	border: solid #000 1px;
	outline: 0;
}

.select2-container--ewc-select.select2-container--disabled .select2-selection--multiple {
	background-color: #eee;
	cursor: default;
}

.select2-container--ewc-select.select2-container--disabled .select2-selection__choice__remove {
	display: none;
}

.select2-container--ewc-select.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--ewc-select.select2-container--open.select2-container--above .select2-selection--multiple {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.select2-container--ewc-select.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--ewc-select.select2-container--open.select2-container--below .select2-selection--multiple {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.select2-container--ewc-select .select2-search--dropdown .select2-search__field {
	border: 1px solid #aaa;
}

.select2-container--ewc-select .select2-search--inline .select2-search__field {
	background: transparent;
	border: none;
	outline: 0;
	box-shadow: none;
	-webkit-appearance: textfield;
}

.select2-container--ewc-select .select2-results > .select2-results__options {
	max-height: 300px;
	overflow-y: auto;
}

.select2-container--ewc-select .select2-results__option[role=group] {
	padding: 0;
}

.select2-container--ewc-select .select2-results__option[aria-disabled=true] {
	color: #999;
}

.select2-container--ewc-select .select2-results__option[aria-selected=true] {
	background-color: #ddd;
}

.select2-container--ewc-select .select2-results__option .select2-results__option {
	padding-left: 1em;
}

.select2-container--ewc-select .select2-results__option .select2-results__option .select2-results__group {
	padding-left: 0;
}

.select2-container--ewc-select .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -1em;
	padding-left: 2em;
}

.select2-container--ewc-select .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -2em;
	padding-left: 3em;
}

.select2-container--ewc-select .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -3em;
	padding-left: 4em;
}

.select2-container--ewc-select .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -4em;
	padding-left: 5em;
}

.select2-container--ewc-select .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -5em;
	padding-left: 6em;
}

.select2-container--ewc-select .select2-results__option--highlighted[aria-selected] {
	background-color: #0073aa;
	color: #fff;
}

.select2-container--ewc-select .select2-results__group {
	cursor: default;
	display: block;
	padding: 6px;
}

.select2-container--ewc-select.select2-container .select2-selection:focus {
	border: 1px solid #5b9dd9;
    outline: none;
    -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, .8);
	box-shadow: 0 0 2px rgba(30, 140, 190, .8);
}

.select2-container--ewc-select.select2-container--open.select2-container--below .select2-selection:focus,
.select2-container--ewc-select.select2-container--open.select2-container--above .select2-dropdown {
	border-bottom: 1px solid #ddd;
}

.select2-container--ewc-select.select2-container--open.select2-container--above .select2-selection:focus,
.select2-container--ewc-select.select2-container--open.select2-container--below .select2-dropdown {
	border-top: 1px solid #ddd;
}

/**
 * Row Divider Widget
 */
 
input[type=checkbox].ewc-options-checkbox {
	margin-bottom: 1em;
}

label.ewc-options-label {
	display: inline-block;
	margin-bottom: 1.250em;
}

input[type=checkbox] ~ .ewc-row-styles {
   display: none;
}

input[type=checkbox]:checked ~ .ewc-row-styles {
   display: block;
}

input[type=checkbox].ewc-label-checkbox {
	display: none;
}

input[type=checkbox].ewc-background-checkbox ~ .ewc-background-settings,
input[type=checkbox].ewc-margin-checkbox ~ .ewc-margin-settings,
input[type=checkbox].ewc-padding-checkbox ~ .ewc-padding-settings,
input[type=checkbox].ewc-class-checkbox ~ .ewc-class-settings {
	max-height: 0;
	overflow: hidden;
	visibility: hidden;
	transition: max-height 0.25s ease-out, visibility 0.25s linear;
}

input[type=checkbox].ewc-background-checkbox:checked ~ .ewc-background-settings,
input[type=checkbox].ewc-margin-checkbox:checked ~ .ewc-margin-settings,
input[type=checkbox].ewc-padding-checkbox:checked ~ .ewc-padding-settings,
input[type=checkbox].ewc-class-checkbox:checked ~ .ewc-class-settings {
	max-height: 50em;
	visibility: visible;
	transition: max-height 0.5s ease-in, visibility 0.5s linear;
}
 
.ewc-row-styles {
	position: relative;
	border: 1px solid #eee;
	padding: 7px 10px 5px;
	background: #fcfcfc;
	margin-bottom: 15px;
}

.ewc-row-styles hr {
	margin: 8px 0 6px;
}

.ewc-row-styles hr:last-of-type {
	visibility: hidden;
	margin: 0;
}

.ewc-section-label {
	display: inline-block;
	margin: 7px 0;
	font-weight: 700;
	width: 100%;
}

.ewc-section-label:after {
	content: "\f140";
	position: absolute;
	right: 0.5em;
    font: 400 18px/16px dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
}

input[type=checkbox].ewc-label-checkbox:checked + .ewc-section-label:after {
	content: "\f142";
}

.ewc-widget-table .row-content {
	display: inline-block;
	margin-right: 10px;
}

.wp-customizer .ewc-widget-table .row-content {
	margin-right: 8px;
}

.ewc-widget-table .row-label {
	display: inline-block;
	width: 35px;
}

.wp-customizer .ewc-widget-table .row-label {
	width: 30px;
}

.button.custom-media-button {
	margin: 5px 0 8px;
}

input.custom-media-url:invalid ~ .ewc-image-properties {
	display: none;
}

.ewc-image-properties {
	margin-top: 8px;
}

.ewc-image-properties:after {
	clear: both;
	content: " ";
	display: table;
}

.image-properties-dropdown {
	float: left;
	width: 48.717948717949%;
	margin-left: 2.5641025641026%;
	margin-top: 0;
}

.first.image-properties-dropdown {
	margin-left: 0;
}

.image-properties-dropdown select {
	width: 100%;
	margin: 0;
}

.ewc-class-settings input {
	margin-bottom: 3px;
}

.ewc-preset-classes {
	background: #fff;
	padding: 5px 5px 0;
    max-height: 75px;
    overflow: hidden;
    overflow-y: auto;
    margin: 7px 0 3px 0;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #32373c;
}

.ewc-class-settings .ewc-preset-classes input {
	margin-bottom: 0;
}

.ewc-preset-label {
	vertical-align: top;
}

/**
 * Media Modal
 */
 
.media-modal-content .media-frame.ajv-media-frame select.attachment-filters {
	width: 100%;
	max-width: 100%;
}
